# German Credit Analysis, Using DNN

In [110]:
import pandas as pd

### Read in the data

In [111]:
german = pd.read_csv('MGMT635_GermanCreditData.csv')

In [112]:
german.head()

,checking,duration,history,purpose,amount,savings,employment,rate,status,guarantor,...,propert,age,other_debt,housing_type,existing_credit_bank,job,dependents,phone,foreign,target
0,11,6,34,43,1169,65,75,4,93,101,...,121,67,143,152,2,173,1,192,201,1
1,12,48,32,43,5951,61,73,2,92,101,...,121,22,143,152,1,173,1,191,201,2
2,14,12,34,46,2096,61,74,2,93,101,...,121,49,143,152,1,172,2,191,201,1
3,11,42,32,42,7882,61,74,2,93,103,...,122,45,143,153,1,173,2,191,201,1
4,11,24,33,40,4870,61,73,3,93,101,...,124,53,143,153,2,173,2,191,201,2

In [113]:
attribute_dict = {1:['checking', 'history', 'purpose', 'savings',
                    'employment', 'status', 'guarantor','propert', 'other_debt', 'housing_type', 
                    'job', 'phone', 'foreign'], 
                  2:['duration', 'amount', 'rate', 'residence_time','age', 'existing_credit_bank',
                     'dependents',]}

In [114]:
german.describe()

,checking,duration,history,purpose,amount,savings,employment,rate,status,guarantor,...,propert,age,other_debt,housing_type,existing_credit_bank,job,dependents,phone,foreign,target
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,12.577000,20.903000,32.54500,47.148000,3271.258000,62.105000,73.384000,2.973000,92.68200,101.145000,...,122.358000,35.546000,142.675000,151.929000,1.407000,172.904000,1.155000,191.404000,201.037000,1.300000
std,1.257638,12.058814,1.08312,40.095333,2822.736876,1.580023,1.208306,1.118715,0.70808,0.477706,...,1.050209,11.375469,0.705601,0.531264,0.577654,0.653614,0.362086,0.490943,0.188856,0.458487
min,11.000000,4.000000,30.00000,40.000000,250.000000,61.000000,71.000000,1.000000,91.00000,101.000000,...,121.000000,19.000000,141.000000,151.000000,1.000000,171.000000,1.000000,191.000000,201.000000,1.000000
25%,11.000000,12.000000,32.00000,41.000000,1365.500000,61.000000,73.000000,2.000000,92.00000,101.000000,...,121.000000,27.000000,143.000000,152.000000,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000
50%,12.000000,18.000000,32.00000,42.000000,2319.500000,61.000000,73.000000,3.000000,93.00000,101.000000,...,122.000000,33.000000,143.000000,152.000000,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000
75%,14.000000,24.000000,34.00000,43.000000,3972.250000,63.000000,75.000000,4.000000,93.00000,101.000000,...,123.000000,42.000000,143.000000,152.000000,2.000000,173.000000,1.000000,192.000000,201.000000,2.000000
max,14.000000,72.000000,34.00000,410.000000,18424.000000,65.000000,75.000000,4.000000,94.00000,103.000000,...,124.000000,75.000000,143.000000,153.000000,4.000000,174.000000,2.000000,192.000000,202.000000,2.000000

##### Noted as most relevant attributes

In [115]:
german2 = german[['duration', 'history','amount', 'savings',
       'status','housing_type', 'foreign','target']]

In [116]:
german2.head()

   duration  history  amount  savings  status  housing_type  foreign  target
0         6       34    1169       65      93           152      201       1
1        48       32    5951       61      92           152      201       2
2        12       34    2096       61      93           152      201       1
3        42       32    7882       61      93           153      201       1
4        24       33    4870       61      93           153      201       2

### Chop up the data (training, testing)

In [117]:
from sklearn.model_selection import train_test_split

In [118]:
x_data = german2.drop('target',axis=1)

In [119]:
y_labels = german['target']

In [120]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.2, random_state=101)

In [121]:
german.columns

Index(['checking', 'duration', 'history', 'purpose', 'amount', 'savings',
       'employment', 'rate', 'status', 'guarantor', 'residence_time',
       'propert', 'age', 'other_debt', 'housing_type', 'existing_credit_bank',
       'job', 'dependents', 'phone', 'foreign', 'target'],
      dtype='object')

In [122]:
import tensorflow as tf

### Assign feature columns for TensorFlow (numeric, categorical, etc.)

In [123]:
history = tf.feature_column.numeric_column("history")
savings = tf.feature_column.numeric_column("savings")
status = tf.feature_column.numeric_column("status")
housing_type = tf.feature_column.numeric_column("housing_type")
foreign = tf.feature_column.numeric_column("foreign")
duration = tf.feature_column.numeric_column("duration")
amount = tf.feature_column.numeric_column("amount")

In [124]:
for attribute in attribute_dict.values():
    print(attribute)

['checking', 'history', 'purpose', 'savings', 'employment', 'status', 'guarantor', 'propert', 'other_debt', 'housing_type', 'job', 'phone', 'foreign']
['duration', 'amount', 'rate', 'residence_time', 'age', 'existing_credit_bank', 'dependents']

In [125]:
feat_cols = [duration, history,amount, savings,
            status,housing_type, foreign]

### Create model and Input the data

In [126]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

In [127]:
dnn_model = tf.estimator.DNNClassifier(hidden_units=[3,3,3],feature_columns=feat_cols, n_classes=10)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\JMORR_~1\AppData\Local\Temp\tmpl7jv4teq
INFO:tensorflow:Using config: {'_session_config': None, '_save_checkpoints_steps': None, '_keep_checkpoint_every_n_hours': 10000, '_tf_random_seed': 1, '_save_summary_steps': 100, '_model_dir': 'C:\\Users\\JMORR_~1\\AppData\\Local\\Temp\\tmpl7jv4teq', '_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_keep_checkpoint_max': 5}

In [128]:
dnn_model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\JMORR_~1\AppData\Local\Temp\tmpl7jv4teq\model.ckpt.
INFO:tensorflow:step = 1, loss = 8096.41
INFO:tensorflow:global_step/sec: 197.932
INFO:tensorflow:step = 101, loss = 13.3072 (0.510 sec)
INFO:tensorflow:global_step/sec: 149.111
INFO:tensorflow:step = 201, loss = 10.1815 (0.671 sec)
INFO:tensorflow:global_step/sec: 126.989
INFO:tensorflow:step = 301, loss = 9.48388 (0.800 sec)
INFO:tensorflow:global_step/sec: 117.892
INFO:tensorflow:step = 401, loss = 8.76009 (0.847 sec)
INFO:tensorflow:global_step/sec: 108.538
INFO:tensorflow:step = 501, loss = 6.82116 (0.902 sec)
INFO:tensorflow:global_step/sec: 135.117
INFO:tensorflow:step = 601, loss = 7.17253 (0.741 sec)
INFO:tensorflow:global_step/sec: 112.958
INFO:tensorflow:step = 701, loss = 9.37499 (0.891 sec)
INFO:tensorflow:global_step/sec: 127.134
INFO:tensorflow:step = 801, loss = 10.1327 (0.799 sec)
INFO:tensorflow:global_step/sec: 113.471
INFO:tensorflow:step = 901, loss = 7.39819 (0.875 sec)
INFO:tensorflow:global_step/sec: 113.766
INFO:tensorflow:step = 1001, loss = 6.39428 (0.874 sec)
INFO:tensorflow:global_step/sec: 127.337
INFO:tensorflow:step = 1101, loss = 7.183 (0.803 sec)
INFO:tensorflow:global_step/sec: 147.698
INFO:tensorflow:step = 1201, loss = 6.19384 (0.660 sec)
INFO:tensorflow:global_step/sec: 121.56
INFO:tensorflow:step = 1301, loss = 7.94568 (0.854 sec)
INFO:tensorflow:global_step/sec: 145.587
INFO:tensorflow:step = 1401, loss = 6.06181 (0.656 sec)
INFO:tensorflow:global_step/sec: 134.345
INFO:tensorflow:step = 1501, loss = 6.91853 (0.764 sec)
INFO:tensorflow:global_step/sec: 146.831
INFO:tensorflow:step = 1601, loss = 5.01531 (0.646 sec)
INFO:tensorflow:global_step/sec: 124.049
INFO:tensorflow:step = 1701, loss = 7.74964 (0.837 sec)
INFO:tensorflow:global_step/sec: 165.91
INFO:tensorflow:step = 1801, loss = 9.56749 (0.587 sec)
INFO:tensorflow:global_step/sec: 142.515
INFO:tensorflow:step = 1901, loss = 7.6915 (0.702 sec)
INFO:tensorflow:global_step/sec: 135.158
INFO:tensorflow:step = 2001, loss = 5.80587 (0.740 sec)
INFO:tensorflow:global_step/sec: 147.49
INFO:tensorflow:step = 2101, loss = 7.64334 (0.678 sec)
INFO:tensorflow:global_step/sec: 146.329
INFO:tensorflow:step = 2201, loss = 5.74981 (0.699 sec)
INFO:tensorflow:global_step/sec: 132.155
INFO:tensorflow:step = 2301, loss = 4.81058 (0.757 sec)
INFO:tensorflow:global_step/sec: 144.436
INFO:tensorflow:step = 2401, loss = 6.63843 (0.677 sec)
INFO:tensorflow:global_step/sec: 140.834
INFO:tensorflow:step = 2501, loss = 5.69697 (0.710 sec)
INFO:tensorflow:global_step/sec: 139.155
INFO:tensorflow:step = 2601, loss = 7.52284 (0.719 sec)
INFO:tensorflow:global_step/sec: 123.054
INFO:tensorflow:step = 2701, loss = 4.73209 (0.856 sec)
INFO:tensorflow:global_step/sec: 113.343
INFO:tensorflow:step = 2801, loss = 5.63375 (0.852 sec)
INFO:tensorflow:global_step/sec: 124.352
INFO:tensorflow:step = 2901, loss = 6.55633 (0.807 sec)
INFO:tensorflow:global_step/sec: 99.0623
INFO:tensorflow:step = 3001, loss = 6.54179 (1.003 sec)
INFO:tensorflow:global_step/sec: 129.682
INFO:tensorflow:step = 3101, loss = 6.5296 (0.780 sec)
INFO:tensorflow:global_step/sec: 131.735
INFO:tensorflow:step = 3201, loss = 6.51727 (0.745 sec)
INFO:tensorflow:global_step/sec: 149.207
INFO:tensorflow:step = 3301, loss = 7.44246 (0.665 sec)
INFO:tensorflow:global_step/sec: 127.305
INFO:tensorflow:step = 3401, loss = 4.64941 (0.786 sec)
INFO:tensorflow:global_step/sec: 149.505
INFO:tensorflow:step = 3501, loss = 5.55458 (0.669 sec)
INFO:tensorflow:global_step/sec: 145.148
INFO:tensorflow:step = 3601, loss = 5.55822 (0.689 sec)
INFO:tensorflow:global_step/sec: 129.696
INFO:tensorflow:step = 3701, loss = 5.53994 (0.771 sec)
INFO:tensorflow:global_step/sec: 139.289
INFO:tensorflow:step = 3801, loss = 6.45895 (0.734 sec)
INFO:tensorflow:global_step/sec: 143.131
INFO:tensorflow:step = 3901, loss = 7.36644 (0.683 sec)
INFO:tensorflow:global_step/sec: 145.577
INFO:tensorflow:step = 4001, loss = 5.51802 (0.697 sec)
INFO:tensorflow:global_step/sec: 137.945
INFO:tensorflow:step = 4101, loss = 6.43621 (0.715 sec)
INFO:tensorflow:global_step/sec: 147.962
INFO:tensorflow:step = 4201, loss = 7.3576 (0.676 sec)
INFO:tensorflow:global_step/sec: 146.991
INFO:tensorflow:step = 4301, loss = 6.42162 (0.665 sec)
INFO:tensorflow:global_step/sec: 139.771
INFO:tensorflow:step = 4401, loss = 4.55841 (0.743 sec)
INFO:tensorflow:global_step/sec: 118.643
INFO:tensorflow:step = 4501, loss = 4.56351 (0.830 sec)
INFO:tensorflow:global_step/sec: 168.602
INFO:tensorflow:step = 4601, loss = 10.1558 (0.593 sec)
INFO:tensorflow:global_step/sec: 144.311
INFO:tensorflow:step = 4701, loss = 6.39833 (0.693 sec)
INFO:tensorflow:global_step/sec: 133.371
INFO:tensorflow:step = 4801, loss = 4.53193 (0.742 sec)
INFO:tensorflow:global_step/sec: 138.783
INFO:tensorflow:step = 4901, loss = 9.17083 (0.732 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\JMORR_~1\AppData\Local\Temp\tmpl7jv4teq\model.ckpt.
INFO:tensorflow:Loss for final step: 8.23311.

### Evaluate the predictions

In [129]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,y=y_test,batch_size=10,shuffle=False)

In [130]:
dnn_model.evaluate(eval_input_func)

INFO:tensorflow:Starting evaluation at 2019-02-17-19:08:49
INFO:tensorflow:Restoring parameters from C:\Users\JMORR_~1\AppData\Local\Temp\tmpl7jv4teq\model.ckpt-5000
INFO:tensorflow:Finished evaluation at 2019-02-17-19:08:51
INFO:tensorflow:Saving dict for global step 5000: accuracy = 0.655, average_loss = 0.679793, global_step = 5000, loss = 6.79793

{'accuracy': 0.65499997,
 'average_loss': 0.67979324,
 'global_step': 5000,
 'loss': 6.7979326}